<ion-view title="Setting" scroll="false">
    <ion-content>
        <div class="list">
            <div class="item item-divider">Account</div>

adsfadfasdfadfads

            <a class="item item-ion-right"><i class="icon ion-person"></i>Loging</a>

            <a class="item item-icon-right" href="#tab/settings/login" ng-hide="!user"><i class="icon ion-person"></i>Login</a>

            <a class="item item-icon-right" href="#tab/settings/login" ng-hide="!user"><i class="icon ion-person"></i>Logout</a>

            <a class="item item-icon-right" href="#tab/settings/login" ng-hide="!user"><i class="icon ion-person"></i>Confirm a Publish</a>

            <a class="item item-icon-right" href="#tab/settings/login" ng-hide="!user"><i class="icon ion-person"></i>Contact us</a>

            <a class="item item-icon-right" href="#tab/settings/login" ng-hide="!user"><i class="icon ion-person"></i>Term</a>
        
           

        </div>
    </ion-content>
</ion-view>